## Development
dev
*.bak

## Node/NPM
node_modules*

## Truffle
build

## TypeChain
@types/ethers-v5
@types/truffle-v5
@types/web3-v1

## TypeScript
*.js.map
js-lib
migrations/**/*.js
test/javascript
truffle-config.js

## Vim
*.swp

## Publishing
.ethpm.json
.env
.env.*
!.env.example
